<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.fawnhealth.mapper.FoodLibraryMapper">

    <resultMap id="BaseResultMap" type="com.ljh.fawnhealth.model.entity.FoodLibrary">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="categoryId" column="category_id" jdbcType="BIGINT"/>
            <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
            <result property="calories" column="calories" jdbcType="DECIMAL"/>
            <result property="protein" column="protein" jdbcType="DECIMAL"/>
            <result property="fat" column="fat" jdbcType="DECIMAL"/>
            <result property="carbohydrate" column="carbohydrate" jdbcType="DECIMAL"/>
            <result property="fiber" column="fiber" jdbcType="DECIMAL"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="isCommon" column="is_common" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,category_id,
        category_name,calories,protein,
        fat,carbohydrate,fiber,
        image,is_common,create_time,
        update_time,is_delete
    </sql>
</mapper>
