<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.health.mapper.HealthAssessmentMapper">

    <resultMap id="BaseResultMap" type="com.zr.health.model.entity.HealthAssessment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="score" column="score" jdbcType="TINYINT"/>
            <result property="weightTrend" column="weight_trend" jdbcType="DECIMAL"/>
            <result property="calorieBalance" column="calorie_balance" jdbcType="DECIMAL"/>
            <result property="nutritionScore" column="nutrition_score" jdbcType="TINYINT"/>
            <result property="dietAdvice" column="diet_advice" jdbcType="VARCHAR"/>
            <result property="exerciseAdvice" column="exercise_advice" jdbcType="VARCHAR"/>
            <result property="assessmentDate" column="assessment_date" jdbcType="DATE"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,score,
        weight_trend,calorie_balance,nutrition_score,
        diet_advice,exercise_advice,assessment_date,
        create_time
    </sql>
    <!-- 在HealthAssessmentMapper.xml中添加 -->
    <select id="existsWithLock" resultType="java.lang.Boolean">
        SELECT EXISTS(
        SELECT 1 FROM health_assessment
        WHERE user_id = #{userId} AND assessment_date = #{assessmentDate}
        FOR UPDATE  <!-- 添加行级锁 -->
        )
    </select>
</mapper>
