<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.health.mapper.HealthReportMapper">

    <resultMap id="BaseResultMap" type="com.zr.health.model.entity.HealthReport">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="reportType" column="report_type" jdbcType="TINYINT"/>
            <result property="content" column="content" jdbcType="OTHER"/>
            <result property="startDate" column="start_date" jdbcType="DATE"/>
            <result property="endDate" column="end_date" jdbcType="DATE"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,report_type,
        content,start_date,end_date,
        create_time
    </sql>
</mapper>
