<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.health.mapper.OrderMapper">

    <select id="countByProductId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM order_item
        WHERE product_id = #{productId}
          AND is_delete = 0
    </select>

    <select id="sumOrderAmount" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(total_amount), 0)
        FROM `order`
        WHERE is_delete = 0
          AND create_time BETWEEN #{startTime} AND #{endTime}
    </select>

    <select id="sumTotalAmount" resultType="java.math.BigDecimal">
        SELECT IFNULL(SUM(total_amount), 0)
        FROM `order`
                 ${ew.customSqlSegment}
    </select>


    <resultMap id="BaseResultMap" type="com.zr.health.model.entity.Order">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <id property="addressId" column="address_id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="totalAmount" column="total_amount" jdbcType="DECIMAL"/>
            <result property="paymentAmount" column="payment_amount" jdbcType="DECIMAL"/>
            <result property="freightAmount" column="freight_amount" jdbcType="DECIMAL"/>
            <result property="discountAmount" column="discount_amount" jdbcType="DECIMAL"/>
            <result property="couponAmount" column="coupon_amount" jdbcType="DECIMAL"/>
            <result property="paymentType" column="payment_type" jdbcType="TINYINT"/>
            <result property="paymentTime" column="payment_time" jdbcType="TIMESTAMP"/>
            <result property="paymentSerialNumber" column="payment_serial_number" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="deliveryCompany" column="delivery_company" jdbcType="VARCHAR"/>
            <result property="deliveryNo" column="delivery_no" jdbcType="VARCHAR"/>
            <result property="deliveryTime" column="delivery_time" jdbcType="TIMESTAMP"/>
            <result property="receiveTime" column="receive_time" jdbcType="TIMESTAMP"/>
            <result property="note" column="note" jdbcType="VARCHAR"/>
            <result property="source" column="source" jdbcType="TINYINT"/>
            <result property="confirmStatus" column="confirm_status" jdbcType="TINYINT"/>
            <result property="deleteStatus" column="delete_status" jdbcType="TINYINT"/>
            <result property="couponId" column="coupon_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
            <result property="refundAmount" column="refund_amount" jdbcType="DECIMAL"/>
            <result property="refundReason" column="refund_reason" jdbcType="VARCHAR"/>
            <result property="refundRejectReason" column="refund_reject_reason" jdbcType="VARCHAR"/>
            <result property="refundTime" column="refund_time" jdbcType="TIMESTAMP"/>
            <result property="refundStatus" column="refund_status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,user_id,refund_amount,refund_reason,refund_time,refund_status,refund_reject_reason
        total_amount,payment_amount,freight_amount,
        discount_amount,coupon_amount,payment_type,
        payment_time,payment_serial_number,status,
        delivery_company,delivery_no,delivery_time,
        receive_time,note,source,addressId
        confirm_status,delete_status,coupon_id,
        create_time,update_time,is_delete
    </sql>
</mapper>
