<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.fawnhealth.mapper.OrderOperationLogMapper">

    <resultMap id="BaseResultMap" type="com.ljh.fawnhealth.model.entity.OrderOperationLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="operator" column="operator" jdbcType="VARCHAR"/>
            <result property="operationType" column="operation_type" jdbcType="TINYINT"/>
            <result property="operationNote" column="operation_note" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,order_no,
        operator,operation_type,operation_note,
        create_time,is_delete
    </sql>
</mapper>
