<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.health.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.zr.health.model.entity.OrderItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="productId" column="product_id" jdbcType="BIGINT"/>
            <result property="productName" column="product_name" jdbcType="VARCHAR"/>
            <result property="productImage" column="product_image" jdbcType="VARCHAR"/>
            <result property="currentPrice" column="current_price" jdbcType="DECIMAL"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
            <result property="specs" column="specs" jdbcType="OTHER"/>
            <result property="refundStatus" column="refund_status" jdbcType="TINYINT"/>
            <result property="refundAmount" column="refund_amount" jdbcType="DECIMAL"/>
            <result property="refundTime" column="refund_time" jdbcType="TIMESTAMP"/>
            <result property="refundReason" column="refund_reason" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_id,order_no,
        product_id,product_name,product_image,
        current_price,quantity,total_price,
        specs,refund_status,refund_amount,
        refund_time,refund_reason,create_time,
        update_time,is_delete
    </sql>
</mapper>
