<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.health.mapper.UserLoginLogMapper">

    <resultMap id="BaseResultMap" type="com.zr.health.model.entity.UserLoginLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
            <result property="loginStatus" column="login_status" jdbcType="TINYINT"/>
            <result property="failReason" column="fail_reason" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,login_time,
        login_status,fail_reason
    </sql>
</mapper>
