<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljh.fawnhealth.mapper.VipBenefitsMapper">

    <select id="selectVipPriceByType" resultType="java.math.BigDecimal">
        SELECT price
        FROM vip_benefits
        WHERE vip_type = #{vipType}
          AND status = 1  -- 过滤出启用状态的权益
          AND is_delete = 0; -- 过滤未删除的记录
    </select>

    <resultMap id="BaseResultMap" type="com.ljh.fawnhealth.model.entity.VipBenefits">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="vipType" column="vip_type" jdbcType="TINYINT"/>
            <result property="benefitCode" column="benefit_code" jdbcType="VARCHAR"/>
            <result property="benefitName" column="benefit_name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,vip_type,benefit_code,price,
        benefit_name,description,value,
        sort_order,status,create_time,
        update_time,is_delete
    </sql>
</mapper>
